* {
	position: relative;
}
.score {
	width: 50px;
	height: 50px;
	background: #ffffff;
	margin: 20px auto;
	text-align: center;
	font-size: 25px;
	font-weight: 900;
}
.square {
	background: rgb(40, 255, 123);
	width: 50px;
	height: 50px;
	margin: 30px;
}
body {
	background: #000;
}
.squares {
	float: left;
	width: max-content;
	height: max-content;
}
.waterfall {
	float: right;
	width: 35px;
	height: 25px;
	background-color: rgb(45, 154, 255);
	margin: 25px;
}
.foot {
	width: 150px;
	height: 100px;
	background: rgb(255, 148, 25);
	top: 300px;
	left: 50px;
}